// overrides for bootstrap variables
$theme-colors: (
    "primary": #25ced8,
    "secondary": #4f3a65,
    "info": #eef5db,
    "light": #98e5e7,
    "dark": #150f1b
);

// custom classes for color theme
.primary {
    color: #25ced8;
}
.secondary {
    color: #4f3a65;
}
.info {
    color: #eef5db;
}
.light {
    color: #98e5e7;
}
.dark {
    color: #150f1b;
}
